.contact-us p1 {
  color: rgb(138, 135, 135);
  margin-left: 0px;
  font-size: 20px;
}

.Aihome {
  width: 200px;
}
.Aiphone {
  width: 200px;
}
.Aimail {
  width: 200px;
}

p4 {
  font-size: 34px;
  align-items: center;
  font-family: "Open Sans", cursive;
  color: #015b2f;
}

img {
  width: 50px;
}

@media (max-width: 999px) {
  .contact-us {
    padding: 20px 180px;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  img {
    width: 60px;
  }

  p4 {
    font-size: 54px;
    align-items: center;
    font-family: "Open Sans", cursive;
    color: #015b2f;
  }

  .contact {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
  }
  .contact-us {
    display: grid;
    font-size: 24px;
  }
  .contact-us div {
    margin-bottom: 25px;
  }
}

@media (min-width: 1000px) {
  .MuiCard-root.contact-card {
    background-color: white;
    color: #e6e6e6;
    border-radius: 30px;
    box-shadow: 10px 10px 20px 0px;
  }
  .contact-card {
    width: 400px;
    margin-bottom: 80px;
    padding: 1rem;
  }
  .MuiCard-root.contact-card:hover {
    transform: scale(1);
    box-shadow: 0px 0px 10px 5px;
  }

  .Aihome {
    width: 250px;
  }
  .Aiphone {
    width: 250px;
  }
  .Aimail {
    width: 250px;
  }
}

.MuiCard-root.contact-card {
  background-color: white;
  color: #e6e6e6;
  border-radius: 30px;
  box-shadow: 10px 10px 20px 0px;
}
.contact-card {
  margin-left: 0px;
  width: 300px;
  margin-bottom: 80px;
  padding: 1rem;
}
.MuiCard-root.contact-card:hover {
  transform: scale(1);
  box-shadow: 0px 0px 10px 5px;
}
