.home {
  margin-top: 40px;
}

.homescreenimg {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.homescreenimg img {
  width: 600px;
}

p {
  margin-top: 100px;
  color: #11770e;
  font-size: 50px;
  font-family: Satisfy;
}
p2 {
  margin-top: 100px;
  color: #11770e;
  font-size: 50px;
  font-weight: 700;
}
p1 {
  color: #adadad;
  font-size: 20px;
}

p3 {
  color: #0e640b;
  font-size: 30px;
  font-family: Arial;
  font-weight: 550;
}

p4 {
  text-align: left;
  color: #817d7d;
  font-family: Avenir;
  font-size: 16px;
  line-height: 30px;
}

p5 {
  font-size: 27px;
  font-family: Segoe UI;
  font-weight: 550;
  color: #494343;
}
p6 {
  color: #a0a0a0;
}

.producthome img {
  margin-top: 40px;
  width: 90px;
  height: 190px;
}
.producthome {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (min-width: 1000px) {
  .producthome {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
  }
  .MuiCard-root.productcard {
    background-color: white;
    color: #c9d1d9;
    transition: all 0.5s ease-in-out;
    border-radius: 30px;
    margin-left: 100px;
    width: 300px;
    height: 350px;
    box-shadow: 7px 7px 15px 0px;
  }
  .MuiCard-root.productcard:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px;
  }

  .MuiCard-root.productcard img {
    margin-top: 30px;
  }
}

.homescreenimg Button {
  color: #fff;
  border-radius: 30px;
  width: 80px;
  height: 40px;
  background-color: #11770e;
}
.homescreenimg Button:hover {
  color: #11770e;
  border-color: #11770e;
  background-color: #f9faf9;
}

@media (min-width: 1000px) {
  .About {
    margin-left: 150px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
  }
  .Aboutdescription {
    text-align: left;
  }
}

.About img {
  width: 40%;
  height: 400px;
}

.productcardtext p5 {
  color: rgb(41, 37, 37);
}

.productcardtext p6 {
  color: #a0a0a0;
}
